.pagina {
    background-color: #E6E7E7;
  }
  
  .pie {
    background-color: #222323;
  }
  
  .page-link {
    color: #000;
  }
  
  .page-link:hover {
    background-color: #6C6E70;
    color: #FFFFFF;
  }